<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Results</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <header>
        <h1>Here are your results for '{{query}}':</h1>
    </header>

    {% for key, value in results.items() %}
    <li
        style="padding: 10px; background: #f1eeee; border-radius: 10px; margin-left: 25px; margin-bottom: 10px; width:50%;">

        {{key}}

        <blockquote>
            URL: <a href={{value}}>{{value}}<a></a>
        </blockquote>
    </li>
    {% endfor %}

</body>

</html>